@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="container">
    <header class="text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger"> Please check your email to reset your password.!</p>
    </header>
</div>