@page "/khoataikhoan.html"
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


<div class="container">
    <header class="text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Tài khoản của bạn tạm thời bị khóa, vui lòng thử lại sau ít phút!</p>
    </header>
</div>