@page "/can-xac-thuc-email-dang-ky.cshtml"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@* @{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
} *@
<style>
    /* CSS tùy chỉnh */
    body {
        background-color: #f0f0f0;
    }

    .notification {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 50px auto;
        max-width: 400px;
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="notification">
                <h2>Thông báo</h2>
                <p>Bạn cần truy cập vào email để xác thực tài khoản.</p>
            </div>
        </div>
    </div>
</div>

