@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="container">
    <header class="text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p>
            Your password has been reset. Please <a style="color:green" asp-page="./Login">click here to log in</a>.
        </p>
    </header>
</div>