@page
@model ProjectPRN221WebShoppingOnlineWithRazorPage.Pages.Checkouts.SuccessOrderModel
@{
}


<div class="container d-flex justify-content-center align-items-center vh-100 product_section_container" style="margin-top:180px; min-height:400px">
    <header class="text-center" style="margin-top:1px">
        <h3 style="color:green">Đặt hàng thành công</h3>
        <p>
            <img src="~/images/category/ordersuccess.jpg" />
        </p>
    </header>
</div>