@page
@model ProjectPRN221WebShoppingOnlineWithRazorPage.Areas.Admin.Pages.GoogleMapModel
@{
}
<div >
    <!-- ============================================================== -->
    <!-- markers -->
    <!-- ============================================================== -->
    <div class="card" style="min-height:350px">
        <h5 class="card-header">Markers</h5>
        <div class="card-body">
           @*  <div id="map_2" class="gmaps"></div> *@
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6911328047404!2d105.55500337498135!3d21.045041080608346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313459ff801eac4d%3A0xb73ed1b0955b0cc5!2zQ2jDuWEgdGjDtG4gUGjDumMgVGnhur9u!5e0!3m2!1sen!2s!4v1698312635433!5m2!1sen!2s" 
            width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end markers -->
    <!-- ============================================================== -->
</div>


@section Scripts{
    <!-- Optional JavaScript -->
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/libs/js/main-js.js"></script>
    <script src="~/assets/libs/js/gmaps.min.js"></script>
    <script src="~/assets/libs/js/google_map.js"></script>
}