@page "/admin/set-member-password/{id}"
@model ProjectPRN221WebShoppingOnlineWithRazorPage.Areas.Admin.Pages.Users.SetPasswordModel
@{
    ViewData["Title"] = "Đặt mật khẩu";
}
<partial name="_Notification" model=@Model.StatusMessage />

<div class="card" style="min-height:500px">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="text-primary">Thiết lập mật khẩu cho thành viên: @Model.user.UserName</h5>
    </div>

    <div class="card-body">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class=" btn btn-sm btn-success">Đặt mật khẩu</button>
                <a asp-page="./Index" class=" btn btn-sm btn-secondary">Danh sách các thành viên</a>
            </div>
            <br />
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}