@page
@model ProjectPRN221WebShoppingOnlineWithRazorPage.Pages.Account.ConfirmEmailUserModel
@{
    ViewData["Title"] = "Confirm email";
}
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessageUser" model="Model.StatusMessageUser" />