@page
@model ProjectPRN221WebShoppingOnlineWithRazorPage.Pages.Account.LockoutUserModel
@{
    ViewData["Title"] = "Locked out user account";
}

<style>
    /* CSS tùy chỉnh */
    body {
        background-color: #f0f0f0;
    }

    .notification {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 50px auto;
        max-width: 400px;
        text-align: center;
    }
</style>

<div class="container" style="margin-top:170px">
    <div class="row">
        <div class="col-sm-12">
            <div class="notification">
                <h2 class="text-danger">Thông báo khóa tài khoản</h2>
                <p class="text-danger">Tài khoản của bạn tạm thời bị khóa, vui lòng thử lại sau ít phút!</p>
            </div>
        </div>
    </div>
</div>