@page
@model ProjectPRN221WebShoppingOnlineWithRazorPage.Pages.Account.ResetPasswordUserModel
@{
    ViewData["Title"] = "Reset password";

}


<div class="container d-flex justify-content-center align-items-center vh-100 product_section_container" style="margin-top:200px">
    <div class="card w-50">
        <div class="card-header">
            <h3 class="mb-1">Reset Pass Form</h3>
            <p>Please enter your user information.</p>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <input class="form-control form-control-lg" type="email" asp-for="Input.Email" required="" placeholder="E-mail" autocomplete="on">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="pass1" asp-for="Input.Password" type="password" required="" placeholder="Password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" asp-for="Input.ConfirmPassword" required="" placeholder="Confirm">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                </div>
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Reset pass</button>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartialUser" />
}