@page
@model ProjectPRN221WebShoppingOnlineWithRazorPage.Pages.Account.ResetPasswordConfirmationUserModel
@{
    ViewData["Title"] = "Reset password success";

}
<div class="container d-flex justify-content-center align-items-center vh-100 product_section_container" style="margin-top:200px; min-height:400px">
    <header class="text-center" style="margin-top:100px">
        <h3 style="color:green">@ViewData["Title"]</h3>
        <p>
            Your password has been reset. Please <a style="color:green" asp-page="./LoginUser">click here to log in</a>.
        </p>
    </header>
</div>


  
